@import 'components/color';

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: rgba($background, 0.9);
}

.content {
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  max-width: 1172px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: $light;
}

.title {
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}

.colorize {
  color: $mark;
  background: none;
}

.menu {
  &__list {
    display: flex;
    gap: 60px;
    list-style: none;
  }
  &__item {
    text-transform: uppercase;
  }
  &__link {
    text-decoration: none;
    color: $light;
    &:hover {
      color: $active;
    }
  }
  &__burger {
    display: none;
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;

  &:before {
    content: '';
    background-color: $light;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transition: all 0.4s ease 0s;
  }
  &:after {
    content: '';
    background-color: $light;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease 0s;
  }

  &_active {
    &:before {
      transform: rotate(45deg);
      top: 8px;
    }
    &:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    & > .burger__line {
      transform: scale(0);
    }
  }

  &__line {
    background-color: $light;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
  }
}

@media (max-width: 1280px) {
  .header {
    height: 80px;
  }
  .menu {
    &__list {
      gap: 40px;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    height: 60px;
  }
  .menu {
    &__list {
      gap: 20px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    height: 50px;
  }
  .menu {
    &__burger {
      display: block;
    }
    &__list {
      display: none;
      &_active {
        display: flex;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($background, 0.90);
        border-top: 2px solid $active;
        flex-direction: column;
        padding: 20px 0;
        gap: 30px;
      }
    }
  }
}